<div class="wrapper">
    <table mat-table [dataSource]="reservations" class="mat-elevation-z8">
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> CLIENTE </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- ReservationDate Column -->
        <ng-container matColumnDef="reservationDate">
          <th mat-header-cell *matHeaderCellDef> FECHA </th>
          <td mat-cell *matCellDef="let element"> {{element.reservationDate | date:'mediumDate'}} </td>
        </ng-container>
    
        <!-- ReservationSchedule Column -->
        <ng-container matColumnDef="reservationSchedule">
          <th mat-header-cell *matHeaderCellDef> HORA </th>
          <td mat-cell *matCellDef="let element"> {{element.reservationSchedule}} </td>
        </ng-container>
    
        <!-- People Column -->
        <ng-container matColumnDef="people">
          <th mat-header-cell *matHeaderCellDef> PERSONAS </th>
          <td mat-cell *matCellDef="let element"> {{element.people}} </td>
        </ng-container>
    
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> TELEFONO </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> EMAIL </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="accent" (click)="editButtonClicked()">
                <mat-icon>edit</mat-icon>
            </button>  
            <button mat-icon-button color="accent" (click)="deleteButtonClicked()">
                <mat-icon>delete</mat-icon>
            </button>  
        </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>