table {
    margin: 20px auto;
    width: 200px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    background-color: blanchedalmond;
}