<header>
    <a routerLink="" class="logo">RESTAURANTE XYZ</a>
      <div class="bx bx-menu" id="menu-icon"></div>
  
      <ul class="navbar">
        <li><a routerLink="" routerLinkActive="active-link">HOME</a></li>
        <li><a routerLink="menu" routerLinkActive="active-link">MENÚ</a></li>
        <li><a routerLink="contact" routerLinkActive="active-link">CONTACTANOS</a></li>
        <li><a routerLink="reservation" routerLinkActive="active-link">RESERVACIONES</a></li>
      </ul>
  </header>

<router-outlet></router-outlet>
