/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 3rem;
    --h2-font:1.5rem;
    --p-font:0.75rem;
}

body {
    height: 100vh;
    color: var(--text-color);
    background: var(--bg-color);
}

::selection {
    background: var(--main-color);
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
}
