<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAURANTE XYZ</title>
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo">RESTAURANTE XYZ</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        
        <ul class="navbar">
            <li><a href="#home">CASITA</a></li>
            <li><a href="#menu">MENÚ</a></li>
            <li><a href="#reservation">RESERVACIÓN</a></li>
            <li><a href="#contact">CONTACTANOS</a></li>
        </ul>
    </header>

    <section class="home" id="home">
        <div class="home-text">
            <h1>EXCELENTE!</h1>
            <h2>¿MUCHA HAMBRE? <br> Come con nosotros y sacia tu hambre rapido.</h2>
            <a href="#menu" class="btn">MENU</a>
        </div>

        <div class="home-img">
            <img src="../../assets/img/home.png" alt="imagen_principal" width="600px" height="600px">
        </div>

        <div class="about-img">
            <img src="../../assets/img/about.png" alt="acerca_de_imagen">
        </div>

        <div class="about-text">
            <span>ACERCA DE NOSOTROS</span>
            <h2>WE SPEAK THE GOOD <br> FOOD LANGUAGE</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <a href="#contact" class="btn">CONTACTANOS</a>
        </div>
    </section>

    <section class="menu" id="menu">
        <div class="heading">
            <span>MENÚ</span>
            <h2>Sabor fresco y buen precio</h2>
        </div>

        <div class="menu-container">
            <div class="box">
                <div class="box-img">
                    <img src="../../assets/img/food1.png" alt="hamburguesa de pollo">
                </div>
                <h2>Burguir de Pollo</h2>
                <h3>Sándwich con pechuga de pollo empanizada estilo sureño, lechuga, tomate, mayonesa y pan horneado. Incluye papas y refresco.</h3>
                <span>$141.00</span>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="../../assets/img/food2.png" alt="hamburguesa de pollo">
                </div>
                <h2>Burguir de Carne</h2>
                <h3>Hamburguesa con carne 100% de res asada a la parrilla, queso estilo americano, lechuga y aderezo classic.  Incluye papas y refresco.</h3>
                <span>$70.00</span>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="../../assets/img/food3.png" alt="hamburguesa de pollo">
                </div>
                <h2>Poshoshon</h2>
                <h3>8 piezas de pollo (crujientes) + 2 complementos </h3>
                <span>$180.00</span>
            </div>
        </div>
    </section>

    <section class="reservation" id="reservation">
        <form class="reservation-form">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
          
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
          
            <label for="phone">Teléfono:</label>
            <input type="tel" id="phone" name="phone" required>
          
            <label for="date">Fecha:</label>
            <input type="date" id="date" name="date" required>
          
            <label for="time">Hora:</label>
            <input type="time" id="time" name="time" required>
          
            <label for="guests">Número de invitados:</label>
            <input type="number" id="guests" name="guests" min="1" max="20" required>
          
            <label for="comments">Comentarios adicionales:</label>
            <textarea id="comments" name="comments"></textarea>
          
            <input type="submit" value="Reservar">
          </form>                 
    </section>

    <section class="contact" id="contact">
        <div class="footer">
            <div class="main">
                <div class="col">
                    <h4>LINKS DEL MENÚ</h4>
                    <ul>
                        <li><a href="#home">CASITA</a></li>
                        <li><a href="#menu">MENÚ</a></li>
                        <li><a href="#reservation">RESERVACIÓN</a></li>
                        <li><a href="#contact">CONTACTANOS</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h4>CONTACTANOS</h4>
                    <div class="social">
                        <a href=""><i class='bx bxl-facebook-circle'></i></a>
                        <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                        <a href=""><i class='bx bxl-twitter' ></i></a>
                        <a href=""><i class='bx bxl-youtube' ></i></a>
                    </div>
                </div>
            </div>
        </div> 
    </section>
</body>
</html>