<!-- HOME -->

<section class="home" id="home">
    <div class="home-text">
        <h1>RESTAURANTE XYZ</h1>
        <h2>FOOD THE <br> MOST PRECIOUS THINGS</h2>
        <a routerLink="menu" class="btn">MENÚ DE HOY</a>
    </div>

    <div class="home-img">
        <img src="../../../assets/img/home.png" alt="home" width="600px" height="600px">
    </div>
</section>

<!-- ABOUT -->

<section class="about" id="about">
    <div class="about-img">
        <img src="../../../assets/img/about.png" alt="about">
    </div>

    <div class="about-text">
        <span>¡¡¡ ACERCA DE NOSOTROS !!!</span>
        <h2>Nosotros hablamos el lenguaje de buena comida</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <a routerLink="menu" class="btn">MENÚ DE HOY</a>
    </div>
</section>

<!-- MENU -->

<section class="menu" id="menu">
    <div class="heading">
        <span>MENÚ</span>
        <h2>Sabor fresco y gran precio</h2>
    </div>

    <div class="menu-container">
        <div class="box">
            <div class="box-img">
                <img src="../../../assets/img/food1.png" alt="platillo1">
            </div>
            <h2>HAMBURGESA DE POLLO</h2>
            <h3>Tasty Food</h3>
            <span>$100.00</span>
        </div>
        
        <div class="box">
            <div class="box-img">
                <img src="../../../assets/img/food2.png" alt="platillo1">
            </div>
            <h2>HAMBURGESA DE QUESO</h2>
            <h3>Tasty Food</h3>
            <span>$110.00</span>
        </div>
        
        <div class="box">
            <div class="box-img">
                <img src="../../../assets/img/food3.png" alt="platillo1">
            </div>
            <h2>CUBETA DE POLLOYON</h2>
            <h3>Tasty Food</h3>
            <span>$150.00</span>
        </div>
    </div>
</section>

<!-- CONTACT -->